*{
    padding: 0;
    margin: 0;
}

footer{
    background-color: #2b2f35;
    padding-bottom: 35px;
    padding-top: 65px;
    border-top: 1px #8b8d90 solid;
    border-bottom: 1px #42464c solid;
}
.cont{
    max-width: 890px;
    margin: auto;
}
.cont:after {
    clear: both;
    content: "";
    display: block;
}
footer .about_f{
    float: left;
}
.about_f{
    max-width: 270px;
    text-align: left;
    margin-right: 122px;
}
footer h4{
    font-size: 11px;
    color: #b5a263;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-family: 'Open Sans', sans-serif;
}
footer p{
    font-size: 11px;
    color: #6e7279;
    line-height: 19px;
    font-family: 'Open Sans', sans-serif;
}
footer .info{
    float: left;
}
.info{
    max-width: 170px;
    text-align: left;
}
footer .form_p1{
    float: right;
}
.form_p1{
max-width: 240px;
}
.email{
    font-size: 11px;
    color: #6e7279;
    border: solid 2px #61656b;
    height: 30px;
    width: 100%;
    margin-bottom: 10px;
    background-color: #2b2f35;
    font-family: 'Open Sans', sans-serif;
}
.button_p1{
    width: 100%;
    height: 30px;
    background-color: #b5a263;
    text-align: center;
    text-transform: uppercase;
    border: none;
    color: white;
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
}
.footer_2{
    background-color: #24282f;
    padding-top: 12px;
    padding-bottom: 12px;
}
.footer_2 h5{

    float: left;
}
h5{
    margin-top: 10px;
    font-size: 9px;
    color: #6e7279;
    font-family: 'Open Sans', sans-serif;
}

.icon{
    float: right;
    background-color: #24282f;
    border: #6e7279 solid 1px;
    height: 28px;
    width: 28px;
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    line-height: 28px;
    margin: 0 5px;
}
.icon i{
    font-size: 12px;
    color: #6e7279;
}
.icon:hover{
    background-color: #b5a263;
}